


<div class="content">

  <h1> My Shopping Cart</h1>
    <div class = "cart">

        <div class="clear_box">
          <h1>Payment Accepted</h1>
          <p>Thank you for Payment! Your shippment will be arranged as soon as possible.</p>


          <p><%= link_to 'Home', root_path %></p>

        </div>
    </div>
</div>
