


<div class="content">
  <%= render "/layouts/header"%>
  <h1>Sign in process</h1>
  <%= render "/category/cat_index"%>
  <%= render "/search/search_box"%>
    <div class="clear_box">
      <h2><%=@error_message%></h2>
    </div>
</div>
