
<div class="product_block">



  <div class = "product_item">
    <h2><span class="bold">Name: </span> <%= @product.name %></h2>
    <p><span class="bold">Price: </span><%= number_to_currency @product.price %></p>
    <p><%= image_tag (@product.image_filename).to_s , hight:"160",width:"260" %></p>
    <p><span class="bold">Created At: </span><%= @product.created_at%></p>

  </div>



</div>
